In [33]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [34]:
#States
ST_file = "Resources/State.csv"
ST_df = pd.read_csv(ST_file)
ST_df.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [35]:
#population (Alex)
premise_file = "Resources/PopulationNumbers.csv"
pop_df = pd.read_csv(premise_file)

In [36]:
pop_df=pop_df.dropna()

In [37]:
# Rename the column headers
pop_cols_rename = pop_df.rename(columns={"table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)": "State",
                                         "Unnamed: 11": "2018 Population"})

In [38]:
#Create a filtered dataframe from specific columns
pop_cols = ["State", "2018 Population"]
pop_trans= pop_cols_rename[pop_cols].copy()

In [39]:
pop_df = pop_trans.drop(pop_df.index[0:5])
   
#pop_df = pop_df.drop(0)

In [40]:
pop_df[['drop', 'State']]= pop_df.State.str.split(".",expand=True,)

In [41]:
pop_df.drop('drop', axis='columns', inplace=True)
pop_df.head()

         State 2018 Population
8      Alabama       4,887,681
9       Alaska         735,139
10     Arizona       7,158,024
11    Arkansas       3,009,733
12  California      39,461,588

In [42]:
#Energy Type (Paul)
EU_file = "Resources/EnergyUsage.csv"
energy_df = pd.read_csv(EU_file)

In [43]:
energy_df = energy_df.replace(to_replace="â€”", value="0")

In [44]:
energy_df = energy_df.rename(columns={"Other": "Petrolium Other",
                                 "Total":"Total Petrolium"})

In [45]:
energy_df.drop(['Total Energy'], axis='columns', inplace=True)
energy_df.head()

,State,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,Total Petrolium,Nuclear Fuel,Wood and Waste,Primary Energy Total,Electric Power Sector,Electric Retail Sales
0,Alabama,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,0.74,2.81,7.25,2.17,28.27
1,Alaska,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,0,10.24,17.67,7.76,56.80
2,Arizona,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,23.52,0.68,5.77,10.04,2.01,31.80
3,Arkansas,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,20.61,0.81,3.03,8.36,2.07,22.83
4,California,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,0.68,3.11,17.39,3.68,48.69

In [46]:
#Total Energy Consumed (Ryan)
TEC_file = "Resources/TotalEnergyConsumed.csv"
TEC_df = pd.read_csv(TEC_file)
#list(TEC_df.columns.values)
TEC_df=TEC_df.drop(columns=['Note: Rankings are based on the full source data values.'])
TEC_df=TEC_df.rename(columns={"State": "Code", "Rank": "Consumption Rank"})
TEC_df.head()

   Consumption Rank Code  Total Energy Consumed per Capita, million Btu
0                 1   WY                                            967
1                 2   LA                                            945
2                 3   ND                                            872
3                 4   AK                                            830
4                 5   IA                                            513

In [47]:
#State Ranking (Kayla)
SR_file = "Resources/SelectedStateRankingsData.csv"
SR_df = pd.read_csv(SR_file)

In [48]:
del SR_df["Federal offshore production is not included in the Production Shares."]

In [49]:
NewSR_df = SR_df.rename(columns={"State":"Code","Production, U.S. Share": "Production Share",
                                 "Consumption per Capita, Million Btu":"Consumption, Million Btu",
                        "Consumption per Capita, Rank":"Consumption, Rank",
                        "Expenditures per Capita, Dollars":"Expenditures, Dollars",
                          "Expenditures per Capita, Rank":"Expenditures, Rank"})
NewSR_df.head()

,Code,Production Share,"Production, Rank","Consumption, Million Btu","Consumption, Rank","Expenditures, Dollars","Expenditures, Rank"
0,WY,8.1,3,967,1,8651,1
1,ND,4.4,6,872,3,8097,2
2,AK,1.5,13,830,4,8060,3
3,LA,3.7,8,945,2,7537,4
4,TX,21.3,1,498,6,5345,5

In [50]:
final_df = ST_df.merge(energy_df, how='left', 
                                  left_on='State', 
                                  right_on='State')
final_df.head()

,State,Code,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,Total Petrolium,Nuclear Fuel,Wood and Waste,Primary Energy Total,Electric Power Sector,Electric Retail Sales
0,Alabama,AL,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,0.74,2.81,7.25,2.17,28.27
1,Alaska,AK,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,0,10.24,17.67,7.76,56.80
2,Arizona,AZ,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,23.52,0.68,5.77,10.04,2.01,31.80
3,Arkansas,AR,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,20.61,0.81,3.03,8.36,2.07,22.83
4,California,CA,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,0.68,3.11,17.39,3.68,48.69

In [51]:
final_df = final_df.merge(pop_df, how='left', 
                                  left_on='State', 
                                  right_on='State')

final_df.head()

,State,Code,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,Total Petrolium,Nuclear Fuel,Wood and Waste,Primary Energy Total,Electric Power Sector,Electric Retail Sales,2018 Population
0,Alabama,AL,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,0.74,2.81,7.25,2.17,28.27,"4,887,681"
1,Alaska,AK,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,0,10.24,17.67,7.76,56.80,"735,139"
2,Arizona,AZ,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,23.52,0.68,5.77,10.04,2.01,31.80,"7,158,024"
3,Arkansas,AR,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,20.61,0.81,3.03,8.36,2.07,22.83,"3,009,733"
4,California,CA,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,0.68,3.11,17.39,3.68,48.69,"39,461,588"

In [52]:
final_df = final_df.merge(TEC_df, how='left', 
                                  left_on='Code', 
                                  right_on='Code')

final_df.head()

,State,Code,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,Total Petrolium,Nuclear Fuel,Wood and Waste,Primary Energy Total,Electric Power Sector,Electric Retail Sales,2018 Population,Consumption Rank,"Total Energy Consumed per Capita, million Btu"
0,Alabama,AL,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,0.74,2.81,7.25,2.17,28.27,"4,887,681",14,400
1,Alaska,AK,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,0,10.24,17.67,7.76,56.80,"735,139",4,830
2,Arizona,AZ,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,23.52,0.68,5.77,10.04,2.01,31.80,"7,158,024",46,208
3,Arkansas,AR,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,20.61,0.81,3.03,8.36,2.07,22.83,"3,009,733",17,372
4,California,CA,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,0.68,3.11,17.39,3.68,48.69,"39,461,588",48,202

In [53]:
final_df = final_df.merge(NewSR_df, how='left', 
                                  left_on='Code', 
                                  right_on='Code')

final_df.head()

,State,Code,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,...,Electric Retail Sales,2018 Population,Consumption Rank,"Total Energy Consumed per Capita, million Btu",Production Share,"Production, Rank","Consumption, Million Btu","Consumption, Rank","Expenditures, Dollars","Expenditures, Rank"
0,Alabama,AL,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,...,28.27,"4,887,681",14,400,1.3,14,400,14,4491,15
1,Alaska,AK,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,...,56.80,"735,139",4,830,1.5,13,830,4,8060,3
2,Arizona,AZ,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,...,31.80,"7,158,024",46,208,0.6,29,208,46,3189,48
3,Arkansas,AR,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,...,22.83,"3,009,733",17,372,0.9,23,372,17,4156,21
4,California,CA,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,...,48.69,"39,461,588",48,202,2.5,12,202,48,3522,38

In [54]:
final_df.drop('Code', axis='columns', inplace=True)
final_df

,State,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,Total Petrolium,...,Electric Retail Sales,2018 Population,Consumption Rank,"Total Energy Consumed per Capita, million Btu",Production Share,"Production, Rank","Consumption, Million Btu","Consumption, Rank","Expenditures, Dollars","Expenditures, Rank"
0,Alabama,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,...,28.27,"4,887,681",14,400,1.3,14,400,14,4491,15
1,Alaska,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,...,56.80,"735,139",4,830,1.5,13,830,4,8060,3
2,Arizona,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,23.52,...,31.80,"7,158,024",46,208,0.6,29,208,46,3189,48
3,Arkansas,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,20.61,...,22.83,"3,009,733",17,372,0.9,23,372,17,4156,21
4,California,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,...,48.69,"39,461,588",48,202,2.5,12,202,48,3522,38
5,Colorado,1.65,5.46,21.18,21.39,15.81,22.33,0,25.84,21.38,...,29.41,"5,691,287",34,266,3.8,7,266,34,3239,47
6,Connecticut,4.37,7.47,21.30,30.11,16.27,23.42,12.22,22.65,22.65,...,53.97,"3,571,520",45,211,0.2,41,211,45,3960,25
7,Delaware,2.64,7.25,21.04,24.94,15.86,22.91,11.54,22.80,22.50,...,31.12,"965,479",28,301,0.0,50,301,28,3867,30
8,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"701,547",38,249,0.0,51,249,38,3058,50
9,Florida,2.94,5.01,21.72,25.61,15.47,20.92,12.78,21.55,20.27,...,30.23,"21,244,317",49,202,0.6,31,202,49,2941,51
10,Georgia,2.78,6.16,20.72,23.01,15.5,20.20,13.41,22.74,20.33,...,28.19,"10,511,131",33,274,0.7,28,274,33,3397,42
11,Hawaii,3.28,34.29,23.71,21.82,15.79,30.74,13.05,25.83,19.78,...,85.59,"1,420,593",47,206,0.0,48,206,47,4658,12
12,Idaho,2.34,4.91,23.05,22.52,16.1,24.20,9.92,23.80,23.38,...,23.95,"1,750,536",24,316,0.2,42,316,24,3951,27
13,Illinois,1.92,6.56,23.02,12.74,15.88,21.72,10.63,27.13,20.91,...,28.33,"12,723,071",25,315,2.7,11,315,25,3522,39
14,Indiana,2.48,5.79,22.14,19.73,15.47,20.98,9.32,21.49,20.82,...,28.68,"6,695,497",11,424,1.1,16,424,11,4486,16
15,Iowa,1.71,5.57,20.86,11.94,15.64,21.34,11.12,23.70,19.59,...,26.13,"3,148,618",5,513,0.9,22,513,5,4956,6
16,Kansas,1.71,6.32,21.12,17.56,15.64,21.20,11.17,29.47,21.04,...,31.68,"2,911,359",16,390,0.8,24,390,16,4328,19
17,Kentucky,2,5.42,21.68,13.93,15.44,21.70,11.12,14.79,19.82,...,25.06,"4,461,153",15,391,1.2,15,391,15,4420,17
18,Louisiana,3.18,3.77,20.58,11.12,15.19,20.51,6.08,16.28,15.58,...,23.40,"4,659,690",2,945,3.7,8,945,2,7537,4
19,Maine,4.66,8.85,21.05,24.96,16.27,23.28,12.41,24.77,22.13,...,39.38,"1,339,057",29,295,0.2,44,295,29,4617,13
20,Maryland,2.53,7.92,22.03,28.24,15.86,23.02,11.68,24.64,22.78,...,33.90,"6,035,802",42,226,0.3,38,226,42,3295,44
21,Massachusetts,5.73,10.57,21.18,31.38,16.27,23.06,9.62,25.60,22.09,...,54.23,"6,882,635",44,212,0.1,45,212,44,3902,29
22,Michigan,2.39,5.95,21.92,20.60,15.64,21.21,8.02,16.71,20.71,...,33.46,"9,984,072",30,290,0.7,27,290,30,3605,36
23,Minnesota,2.23,6.10,21.82,16.67,15.5,21.92,11.21,23.18,21.31,...,30.55,"5,606,249",18,341,0.5,32,341,18,3966,24
24,Mississippi,2.69,4.11,20.75,22.31,15.18,20.47,9.6,24.23,19.61,...,27.28,"2,981,020",13,400,0.3,37,400,13,4829,9
25,Missouri,1.81,7.42,20.87,17.16,15.64,20.71,10.93,23.35,20.57,...,29.10,"6,121,623",27,302,0.3,39,302,27,3853,31
26,Montana,2.02,6.32,22.98,20.22,16.1,24.09,0,11.13,21.57,...,26.65,"1,060,665",12,410,1.0,18,410,12,4787,10
27,Nebraska,1.29,5.46,21.60,15.08,15.64,21.93,11.07,25.76,21.39,...,26.45,"1,925,614",7,475,0.5,34,475,7,4785,11
28,Nevada,3.1,4.45,21.70,23.86,15.9,25.74,0,23.96,23.32,...,25.42,"3,027,341",40,240,0.1,46,240,40,3418,41
29,New Hampshire,3.87,9.42,19.73,26.55,16.27,22.60,11.83,25.10,22.00,...,49.87,"1,353,465",41,240,0.2,43,240,41,4313,20
30,New Jersey,3.51,6.49,21.64,28.84,15.76,22.19,11.92,24.27,20.64,...,38.86,"8,886,025",36,252,0.4,35,252,36,3709,34
31,New Mexico,2.49,4.03,21.76,22.22,15.5,21.30,0,29.33,21.70,...,27.57,"2,092,741",19,336,3.6,9,336,19,3954,26
32,New York,3.69,7.89,21.80,30.04,16,22.23,10.47,21.24,21.14,...,43.46,"19,530,351",50,197,0.9,19,197,50,3112,49
33,North Carolina,3.18,5.99,21.34,24.20,15.5,21.76,10.1,23.18,21.71,...,27.12,"10,381,615",37,252,0.7,26,252,37,3290,45
34,North Dakota,1.48,4.19,20.92,15.08,15.64,22.66,0,24.85,21.08,...,26.16,"758,080",3,872,4.4,6,872,3,8097,2
35,Ohio,2.16,5.84,21.83,24.89,15.82,21.50,11.03,19.46,21.24,...,29.24,"11,676,341",23,322,3.5,10,322,23,3792,32
36,Oklahoma,1.84,3.71,20.70,17.75,15.64,20.76,10.96,34.32,20.72,...,23.91,"3,940,235",10,433,5.1,4,433,10,4331,18
37,Oregon,2.43,4.77,23.09,21.03,16.13,26.40,11.25,25.46,24.37,...,25.93,"4,181,886",39,242,0.5,33,242,39,3388,43
38,Pennsylvania,2.63,6.55,22.00,26.27,15.86,23.52,10.62,24.14,22.50,...,29.70,"12,800,922",26,310,9.4,2,310,26,3787,33
39,Rhode Island,0,8.02,20.98,31.89,16.27,23.22,11.82,18.95,22.15,...,53.05,"1,058,287",51,187,0.0,49,187,51,3686,35
40,South Carolina,3.34,5.60,20.57,25.56,15.5,20.48,10.21,20.18,20.15,...,28.31,"5,084,156",21,329,0.7,25,329,21,4003,22
41,South Dakota,1.91,5.05,21.60,15.67,15.64,22.08,10.96,26.89,21.56,...,29.21,"878,698",9,452,0.3,40,452,9,4888,7
42,Tennessee,2.31,5.72,21.35,20.55,15.64,21.06,11.22,23.76,20.74,...,28.15,"6,771,631",20,333,0.6,30,333,20,4001,23
43,Texas,1.78,3.89,20.59,11.81,15.61,20.44,8.1,20.31,16.69,...,25.16,"28,628,666",6,498,21.3,1,498,6,5345,5
44,Utah,2.03,6.12,22.99,20.76,16.08,24.08,9.91,26.13,22.66,...,24.16,"3,153,550",35,265,0.9,21,265,35,3261,46
45,Vermont,0,8.16,21.09,28.45,16.27,23.39,13.32,20.16,22.95,...,44.35,"624,358",43,223,0.0,47,223,43,4555,14
46,Virginia,3.03,5.69,20.94,25.60,15.53,21.13,6.92,25.56,20.89,...,27.79,"8,501,286",31,283,0.9,20,283,31,3601,37
47,Washington,2.42,6.59,23.97,22.29,15.74,26.54,14.93,19.31,22.76,...,23.63,"7,523,869",32,276,1.1,17,276,32,3498,40
48,West Virginia,2.2,5.86,21.52,27.88,15.5,22.81,10.19,25.98,22.69,...,25.55,"1,804,291",8,462,5.0,5,462,8,4860,8
49,Wisconsin,2.37,5.51,21.86,16.21,16.14,22.42,10.95,21.17,21.64,...,31.02,"5,807,406",22,325,0.3,36,325,22,3909,28
50,Wyoming,1.73,4.76,21.22,21.35,16.1,22.56,0,25.58,21.70,...,23.87,"577,601",1,967,8.1,3,967,1,8651,1

In [58]:
final_df = final_df.drop(final_df.index[8])
final_df.reset_index()

final_df

,State,Coal,Natural Gas,Distillate Fuel Oil,HGL,Jet Fuel,Motor Gasoline,Residual Fuel Oil,Petrolium Other,Total Petrolium,...,Electric Retail Sales,2018 Population,Consumption Rank,"Total Energy Consumed per Capita, million Btu",Production Share,"Production, Rank","Consumption, Million Btu","Consumption, Rank","Expenditures, Dollars","Expenditures, Rank"
0,Alabama,2.54,4.49,20.68,22.12,15.39,20.40,9.08,26.54,20.47,...,28.27,"4,887,681",14,400,1.3,14,400,14,4491,15
1,Alaska,6.49,8.90,23.07,22.62,16.23,30.73,11.74,28.88,21.26,...,56.80,"735,139",4,830,1.5,13,830,4,8060,3
2,Arizona,2.44,4.71,21.92,25.05,15.93,24.72,0,22.88,23.52,...,31.80,"7,158,024",46,208,0.6,29,208,46,3189,48
3,Arkansas,1.99,5.86,20.77,19.22,15.5,20.64,0,22.44,20.61,...,22.83,"3,009,733",17,372,0.9,23,372,17,4156,21
4,California,3.53,7.42,26.78,25.39,15.67,28.09,14.93,28.81,24.72,...,48.69,"39,461,588",48,202,2.5,12,202,48,3522,38
5,Colorado,1.65,5.46,21.18,21.39,15.81,22.33,0,25.84,21.38,...,29.41,"5,691,287",34,266,3.8,7,266,34,3239,47
6,Connecticut,4.37,7.47,21.30,30.11,16.27,23.42,12.22,22.65,22.65,...,53.97,"3,571,520",45,211,0.2,41,211,45,3960,25
7,Delaware,2.64,7.25,21.04,24.94,15.86,22.91,11.54,22.80,22.50,...,31.12,"965,479",28,301,0.0,50,301,28,3867,30
10,Georgia,2.78,6.16,20.72,23.01,15.5,20.20,13.41,22.74,20.33,...,28.19,"10,511,131",33,274,0.7,28,274,33,3397,42
11,Hawaii,3.28,34.29,23.71,21.82,15.79,30.74,13.05,25.83,19.78,...,85.59,"1,420,593",47,206,0.0,48,206,47,4658,12

In [55]:
final_df.to_csv('Final_Data.csv')